@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="main" role="main">
	<div id="content">
		<div class="box">
			<h4 class="alert_info">Application Usage Report</h4>
		</div>
	</div>
</div>
