
    <div id="cA">
		<h3>OUR TEAM</h3>
		<p class="testimonial"><img src="./" alt="Our Picture" width="87" height="100" class="leflo" /><strong> Luis Gonzalez </strong> <br /> Sr. Web Developer </p>
        <br /><br /><br /><br /><br /><br />
		<p class="testimonial"><img src="./" alt="Our Picture" width="87" height="100" class="leflo" /><strong> Alex Garcia</strong> <br /> Sr. Genesis Developer </p>
	</div><!-- cA -->
	<div id="cB">
		<div id="cB1">
			<h3>REACH TO US BY EMAIL: </h3>
			<div class="news">
				<p><a href="mailto:luis.gonzalez@bestpcb.com">luis.gonzalez@bestpcb.com</a></p>
			</div>
			<div class="news">
				<p><a href="mailto:alex.garcia@bestpcb.com">alex.garcia@bestpcb.com</a></p>
			</div>
			<h3>REACH TO US BY PHONE: </h3>
			<div class="news">
				<p>479-685-4687</p>
			</div>
		</div><!-- cB1 -->
    </div>
    <div class="Cpad">
		<br class="clear" /><div class="Cbottomleft"></div><div class="Cbottom"></div><div class="Cbottomright"></div>
	</div><!-- Cpad -->