@{
	ViewBag.Title = "Home Page";
}
	
	<div id="cA">
		<h3>TESTIMONIALS</h3>
		<p class="testimonial"><img src="./" alt="Some Logo" width="87" height="100" class="leflo" />All the comments about the product because other companies also really like it because is great because it has great developers
			All the comments about the product because other companies also really like it because is great because it has great developers
			All the comments about the product because other companies also really like it because is great because it has great developers
		</p>
		
		<p class="testimonial"><img src="./" alt="Some Logo" width="87" height="100" class="leflo" />The Comments</p>
	</div><!-- cA -->
	<div id="cB">
		<div id="cB1">
			<h3>ABOUT BEST FIT PCB</h3>
			<div class="news">
				<p>Best Fit PCB is a product that helps you create quick layout for pannels.</p>
			</div>
			<div class="news">
				<p>Great Tool For quick quotes on the fiel with our Mobile App (iOS  & Android) </p>
			</div>
			<h3>HOW TO GET STARTED</h3>
			<div class="news">
				<p>Create a user and create your own company.</p>
			</div>
			<div class="news">
				<p>Use our preloaded profile with the most common Panel Sizes and Toolings. </p>
			</div>
			<div class="news">
				<p>Create Quick Panel Layouts with the site or download our MOBILE APP and create them on the go. </p>
			</div>
		</div><!-- cB1 -->
		<div id="cB2">
			<h3>OUR GREAT FEATURES</h3>
			<div class="about">
				<ul>
					<li>Create your own Profiles.</li>
					<li>Export Data to Bacon, Genesis and othes.</li>
					<li>Send emails to customer with layout images.</li>
					<li>Save your layout to continue or export latter.</li>
				</ul>
			</div>
		</div><!-- cB2 -->
	</div>
	<div class="Cpad">
		<br class="clear" /><div class="Cbottomleft"></div><div class="Cbottom"></div><div class="Cbottomright"></div>
	</div><!-- Cpad -->
	
