@model BestFitBusinessLayer.PanelModel

@{
    ViewBag.Title = "NewPanel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>NewPanel</h2>

<img src="@Url.Content(String.Concat("~/Media/",ViewBag.ImageName))" alt="Panel Layout" width="1500" height="2000" />


